.main {
  background: linear-gradient(135deg, #1b1d20, #3c424d, #1b1e41, #07090f);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  scroll-behavior: smooth;
}

.item {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.section {
  scroll-behavior: smooth;
}

.temp {
  background: rgba(255, 255, 255, 0.1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  border-radius: 50%;
}

.loadslide {
  animation: slideDownAnimation 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.delayedslide {
  opacity: 0;
  animation: slideUpAnimation 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes slideUpAnimation {
  0% {
      opacity: 0;
      transform: translateY(-100%);
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
      transfrom: translateY(0%);
  }
}

@keyframes slideDownAnimation {
  0% {
      opacity: 0;
      transform: translateY(100%);
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
      transfrom: translateY(0%);
  }
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}